* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: cadetblue;
  padding: 20px 50px;
}

nav a {
  color: white;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo a,
.menu {
  display: flex;
  gap: 30px;
}
